.error{
    color: red;
    font-size:medium;
}

form{
    margin: 0 auto;
}

input{
    width:20em;
    height: 2em;
    display: inline-block;
    margin-left: 10px;
   border-radius: 5%;
   background-color: lightcyan;
}

select{
    width:20em;
    height: 10em;
    border-radius: 5%;
    background-color: lightcyan;
}
textarea{
    width:20em;
    height: 10em;
    border-radius: 5%;
    background-color: lightcyan;
    font-weight: bold;
}

label{
    font: 15px;
    font-weight: bolder;

}

.container{
    margin-bottom: 0;
}


.container-box{
    display: flex;
    flex-direction: row;
    display: inline-block;
   
}

.label-container{
    margin: 1em;
   display: inline-block;
    text-align: left;
    padding: 14px 10px 0 0;
    margin:0 0 7px 0;
    
}

.container-input{
    display: inline-block;
    vertical-align: middle;
    margin:0;
    margin:0 0 7px 0;
    
   
}

.inputs{
    display: flex;
    position: relative;
   flex-direction: row;
}

.box-1{
    flex: 1;
    position: relative;
    display: flex;
    flex-direction:column;
    text-align: right;
}

.box-2{
    flex:1;
    position: relative;
    display: inline-block;
    text-align: right;
}

.header-container{
    margin-top: 0;
    margin-bottom: 2em;
}

.subtitle{
    margin-top: 0.5em;
    margin-bottom: 2em;
}

.next-button{
    margin-top: 3em;
    text-align: center;
    margin-left: 15em;
}

