.contact-info {
  text-align: right;
  width: 38%;
}

.description {
  width: 60%;
}

.tagline{
  color: white;
  margin-left: 8em;
  padding-top: 0;
  /* padding-left: 8em; */
  /* padding-right: 8em; */
}

.center {
    text-align: center;
}

.number {
  width: fit-content;
  white-space: nowrap;
}

.card {
  box-shadow: 2px 2px 5px gray;
}

.results-number {
  color: #3f3f3f;
  padding-top: 2em;
}

.results{
  padding-bottom: 2em;
}

.results-bin {
  background-color: whitesmoke;
  margin-right: 8em;
  margin-left: 8em;
  margin-top: 10em;
  padding-bottom: 5em;
  /* padding-top: 5em; */
  border-radius: 10px;
}

@media only screen and (max-width: 900px) {
  /* For Small Screens */
  .contact-info {
    text-align: left;
    width: 100%;
    padding: 10px 0px;
  }

  .description {
    width: 100%;
  }

  .results-bin {
    background-color: whitesmoke;
    margin: 0.5em;
    padding-bottom: 5em;
    border-radius: 10px;
    width: 100%;
  }
}



@media only screen and (max-width: 500px) {
  /* For Smaller Screens */
  .mobile-padding {
      padding-bottom: 10px;
  }

  .results-bin {
    background-color: whitesmoke;
    margin: auto;
    padding-bottom: 5em;
    border-radius: 10px;
    width: 100%;
  }
}

