.contact-info {
  text-align: right;
  width: 38%;
}

.description {
  width: 60%;
}

.center {
    text-align: center;
}

.number {
  width: fit-content;
  white-space: nowrap;
}

@media only screen and (max-width: 900px) {
  /* For Small Screens */
  .contact-info {
    text-align: left;
    width: 100%;
    padding: 10px 0px;
  }

  .description {
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  /* For Smaller Screens */
  .mobile-padding {
      padding-bottom: 10px;
  }
}

.card {
  box-shadow: 2px 2px 5px gray;
}