.flex-between {
    display: flex;
    justify-content: space-between;
}

.contact {
    text-align: right;
}

.search-result {
    display: flex;
    justify-content: space-evenly;
}

.center {
    text-align: center;
}