.header {
    margin: 2em;
}
.photo {
    height: 250px;
    width: 250px;
}
.body {
    border-style: solid;
    border: .5em black;
    margin-top: 1em;
    margin-left: 2em;
    margin-right: 4em;
    padding-top: 0px;
    padding-bottom: 0px;
}

@media screen and (max-width: 1200px){
    .body {
        border-style: solid;
        border: .5em black;
        margin-top: 1em;
        width: 90%;
        padding-top: 0px;
        padding-bottom: 0px;
    }
}

.label {
    font-weight: 700;
    width: 100%,
}

.first {
    padding-top: 2em;
}

.last {
    padding-bottom: 2em;;
}

.border {
    border: 5px black;
    padding: 2em;
    margin: 1em;
    border-radius: 10px;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
    padding: 1em;
}

.columnThirds {
    flex: 33.33%;
    padding: 1em;
}

li{
    padding: 0;
}

ul{
    padding: 0;
}