.rightside{
    margin: 4em 4em 20em 0em;
    width: 20%;
}

.contact{
    padding-top: .5em;

}
.map {
    position: absolute;
  width: 250px;
  height: 250px;
}

.bio-container{
    display: flex;
    flex-direction: column;
    margin: 3em;
    width: 65%;
}

@media screen and (max-width: 1200px){
    .bio-container {
        width: 95%;
        margin: auto;
    }
    .rightside{
        margin: auto;
        width: 95%;
    }
}

.btn-container{
    display: flex;
    flex-direction: column;
    margin: 1em 0em 0em 3em;
}

.bio{
    padding: 10;
    box-sizing: border-box;
    align-content: center;
    position: relative;
    text-align: justify;
    flex:6;
    margin-top: 2em;
}

.bio-title{
    flex: 1;
    padding-top: 0px;
    margin-top: 2em;
}

.backSearch{
    flex: 1;
    width: 200px;
    padding-bottom: 10px;
}

p{
    padding:0;
    margin:0em;
}

.clientFocus{
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    padding-top: 0px;
    flex-wrap: wrap;
}

.clientAge{
    flex: left;
  padding-top: 0px;
  margin-left: 0 auto ;
  position: relative;
}



.clientDemographics{
    flex: left;
    padding-top: 0px;
    padding-left: 4em;
}

.insurance{
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
}

.box1{
    flex:left;
    padding-top: 10px;
}

.box2{
    flex: left;
    padding-top: 10px;
}

.treatment{
    display: flex;
    padding-bottom: 10px;
}
.emailModal{
    padding-top: 10px;
    padding-bottom: 1em;
}
.ts{
    flex:left;
    padding-top: 10px;
}

.approaches{
    flex: left;
    padding-top: 40px;
}

.border-top{
    border-top: 2px black;
    padding-top: 2em;
    margin-right: 6em;
}

ul {
    padding: 0;
    margin: 0;
}
