h1 {
    font-family: 'Lora', serif;
}

h2 {
    font-family: 'Lora', serif;
}

h3 {
    font-family: 'Lora', serif;
}

h4 {
    font-family: 'Lora', serif;
}

h5 {
    font-family: 'Lora', serif;
}

h6 {
    font-family: 'Lora', serif;
}
p {
   font-family: 'Nunito', sans-serif;
}

title {
    font-family: 'Lora', serif;
}
