.contact-background {
  background: url("../../Images/couplephoto.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  padding-top: 0em;
  margin: 0;
  background-repeat: no-repeat;
  overflow: auto;
 } 

.body-contact{
    width: 100%;
    height: 100%;
    margin-bottom: 45em;
    padding: 25px;
    padding-left: 16em;
}


.address {
    margin-left: 1em;
    color: #3f3f3f;
    border-radius: 1em;
    padding-left: 1em;
    padding-bottom: 1em;
    width: 40%;
    padding-right: 2em;
    margin-bottom: 0;
}

.header {
    padding-top: 3em;
}

.body2{
    padding-top: 2em;
}

.body3 {
    padding-top: 1em;
    padding-left: 2em;
}

@media only screen and (max-width: 900px) {
  /* For Small Screens */
    .address {
        margin-left: .5em;
        margin-right: .5em;
        background-color: #f7b82c;
        color: #3f3f3f;
        border-radius: 1em;
        padding-left: .5em;
        padding-bottom: 1em;
        width: 90%;
        margin-bottom: 0;
        margin-top: 5em;
    }
    .body-contact{
    width: 100%;
    height: 100%;
    margin-bottom: 45em;
    padding: 25px;
    margin-left: .5em;
    margin-right: .5em;
    }
    .header {
    padding-top: 1em;
}
}
