.advanced-input {
    width: 48%;
}

.switch {
  margin: 10px 10px;
  color: #3f3f3f;
}

.focus {
  width: 48%;
}

.results {
  margin-top: 1em;
}

.search {
  background-color: #f7b82c;
  width: 27%;
  padding-left: 2em;
  padding-bottom: .5em;
  padding-right: 2em;
  margin-bottom: 0;
  margin-left: 2em;
  margin-top: 5em;
  border-radius: 1em;
}

.search-bar {
  margin-left: 6em;

}

.tagline{
  color: white;
  margin-left: 8em;
  margin-top: 8em;
  padding-top: 0;
}

h3 {
  color: #3f3f3f;
}

/* .content {
  padding-top: 10em;
} */

/* .form-inline {
  width: 30%;
} */

.form-group {
  width: 48%;
}

.input-group {
  margin-top: 2em;
}

/* .form-control {
  width: 10% ;
} */

/* span.input-group-addon {
  width: 50px ;
} */

@media only screen and (max-width: 900px) {
  /* For Small Screens */
  .advanced-input {
    width: 100%;
  }

  .results {
    padding: .5em;
    margin: .5em;
  }
  .switch {
    width: 100%;
  }

  .form-group {
    width: 100%;
  }

   .tagline {
    margin-top: 2em;
    margin-left: 2em;
    margin-right: .5em;
    text-shadow: 2px 2px 2px rgb(94, 89, 89);
    text-align: right;
  }

  .search {
    background-color: #f7b82c;
    width: 80%;
    padding-bottom: .5em;
    padding-top: 30em;
    margin-bottom: 0;
    border-radius: 1em;
    padding: .5em;
    margin: .5em;
  }
}
