.advanced-input {
    width: 48%;
}

.switch {
  margin: 37px 0px;
  color: #3f3f3f;
}

.focus {
  width: 48%;
}

.results {
  padding-top: 18em;
}

.search {
  background-color: #f7b82c;
  padding-left: 2em;
  padding-right: 2em;
  /* float:left; */
}

h3 {
  color: #3f3f3f;
}

.cover-photo {
  width: 100%;
  background-image: url("../../Images/familyphoto.jpg");
  padding-top: 0em;
  margin: 0;
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
}

/* .content {
  padding-top: 10em;
} */

/* .form-inline {
  width: 30%;
} */

.form-group {
  width: 48%;
}

.input-group {
  margin-top: 2em;
}

/* .form-control {
  width: 10% ;
} */

/* span.input-group-addon {
  width: 50px ;
} */

@media only screen and (max-width: 900px) {
  /* For Small Screens */
  .advanced-input {
    width: 100%;
  }

  .results {
    padding: 1em;
  }
  .switch {
    width: 100%;
  }

  .form-group {
    width: 100%;
  }
}